# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml